.bgi{
    background-image: url(/home/ann/Desktop/Pizza/static/image/background.jpeg);
    background-size: cover;
    height:800px;
}
.bar-item{
background-color: brown;
padding:10px;
width: auto;
float:left;
display:block;
}
.text{
    text-align: center;
    color:black;
    padding-top: 280px;
}
.text>p{
    float: right;
    padding-top: 400px;
}
.information{
 padding:30px;
 text-align: center;
}
.piz{
   padding-right:10px;
}
