.bgi{
    background-image: url(/home/ann/Desktop/Pizza/static/image/background.jpeg);
    background-size: cover;
    height:800px;
}
.bar-item{
background-color: brown;
padding:10px;
width: auto;
float:left;
display:block;
}
.text{
    text-align: center;
    color:black;
    padding-top: 280px;
}
.text>p{
    float: right;
    padding-top: 400px;
}
.information{
padding: 50px;
 text-align: center;
 color:black;
 background-image: url(/home/ann/Desktop/Pizza/static/image/pizzabkg_1.jpg);
 font-family: 'Times New Roman', Times, serif;
 font-weight: bolder;
 font-size: larger;
}
.drinks{
    padding: 50px;
 text-align: center;
 color:black;
 background-image: url(/home/ann/Desktop/Pizza/static/image/drinks3.jpeg);
 font-family: 'Times New Roman', Times, serif;
 font-weight: bolder;
 background-size: cover;
 
}
.drinks>h5{
   font-weight: bolder;
      font-size: xx-large;
}
.drinks>h6{
    font-weight: bolder; 
    font-size: x-large;
}
