.bgi{
    background-image: url(/home/ann/Desktop/Pizza/static/image/pizzabkg_1.jpg);
    height:600px;
}
.bar-item{
background-color: brown;
padding:10px;
width: auto;
float:left;
display:block;
}
.text{
    text-align: center;
    color:black;
    padding-top: 280px;
}
.text>p{
    float: right;
    padding-top: 400px;
}
.information{
padding: 50px;
 text-align: center;
 color:black;
 background-image: url(/home/ann/Desktop/Pizza/static/image/menuback.jpg);
 background-size: cover;
 font-family: 'Times New Roman', Times, serif;
 font-weight: bolder;
 font-size: larger;
}
.drinks{
    padding: 50px;
 text-align: center;
 color:black;

 font-family: 'Times New Roman', Times, serif;
 font-weight: bolder;
 background-size: cover;
 
}
.drinks>h5{
   font-weight: bolder;
      font-size: xx-large;
}
.drinks>h6{
    font-weight: bolder; 
    font-size: x-large;
}
.order{
    text-align: center;
    background-color: beige;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}
.order>h7{
    font-size: xx-large;
    font-weight: bolder;
}
.about{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: beige;
}
.about>h8{
    font-size: xx-large;
}
.contact{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color:beige;
}
